[% PROCESS global/header.html.tmpl %]

<h1>Either your network or ip address has been banned from [% terms.Bugzilla %]</h1>

<p>If you feel that this is unwarranted, feel free to include your IP
  address in the subject of <a href="mailto:bugmaster&#64;gnome.org">an 
  email</a>, and we will examine why there is a ban. If you fail to
  include the IP address (again, in the subject!), then your message will
  be deleted and ignored.</p>

[% PROCESS global/footer.html.tmpl %]
